/* Default styles (mobile, tablet) */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 56px;
  margin-left: 1em;
  color: lime
}

nav button {
  font-size: 32px;
  margin-right: 1em;
  text-align: center;
  display: inline-block;
  color:  #f4f1ec;
  font-family: 'Source Sans 3', sans-serif;
  background-color: transparent;
  border: none;
}

.nav-right-side:hover {
  color: lime;
  cursor: pointer;
}  

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #2e2e2e;
  }
  nav button {
    background-color: #2e2e2e;
  }
}