section.new-tweet {
  width: 85%;
  border-style: outset;
  border-width: 20px;
  border-radius: 10px;
  border-color: black;
  padding: 10px;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

textarea {
  resize: none;
  border: none;
  background-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: black;
}

textarea:focus {
  outline: none;
}

button {
  font-family: 'Bungee', sans-serif;
  border-width: 0px;
  background-color: #2e2e2e;
  color: lime;
  /* box-sizing: border-box; */
  padding: 8px;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

@media only screen and (min-width: 1024px) {
  section.new-tweet {
  }
}