#tweets-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: inherit;
  margin-top: 20px;
  padding: 10px;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: inherit;
  margin-top: 20px;
  padding: 10px;
  border-color: #2e2e2e;
  border-width: 5px;
  border-style: solid;
}

article:hover {
  box-shadow: 5px 5px hsl(100, 23%, 82%);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
}

article.tweet footer div {
  padding-left: 10px;
  padding-right: 10px;
}

div.tweet-action-cluster {
  display: flex;
}

div.tweet-action:hover {
  color: limegreen;
}

div.tweeter-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.tweeter-info div {
  padding-left: 10px;
  padding-right: 10px;
}

div.tweeter-name {
  align-self: center;
}

div.handle {
  padding-right: 10px;
  align-self: center;
}

footer div {
  font-size: 16px;
}

.tweet-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  background-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-top-width: 0em;
  border-right-width: 0em;
  border-left-width: 0em;
  border-color: #2e2e2e;
}

section.invalid-tweet-error {
  display: flex;
  justify-content: space-around;
  border-color: gold; 
  border-style: dashed;
  border-width: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 80%;
  display: none;
}

div.error-msg {
  display: flex;
  flex-direction: column;
}

div.error-msg-title {
  font-family: 'Bungee', sans-serif;
  align-self: center;
  padding-bottom: 10px;
}

div.error-msg-body {
  align-self: center;
}

div.error-symbol {
  align-self: center;
}
